/* Deactivate scroll*/
html, body {
  overflow: hidden;
  height: : 100%;
}

/* div that contains svg */
.svg-container {
    z-index: 1;
    display: inline-block;
    position: relative;
    width: 100%;
    height: calc(100% - 95px); /* navbar + cluster buttons: 55px + 40px */
    /*padding-bottom: 100%;*/
    top: 55px;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    z-index: 1;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* Header */
.navbar {
  color: #21303e;
}
.dropdown-menu{
  width: 250px;
}


/* Main content */
#page-content-wrapper{
  /*z-index: 0;*/
  width: 100%;
  /*min-height:0;*/
  /*height: 680px;*/
  height: 100%;
  /*padding-bottom: 100%;*/
  box-sizing: border-box;
  position: absolute;
  /* background: white; */
  /* background: #2C3E50; /* madison */
  /* background: #1B1B1B; /* eerie black */
  /* background: #353839; /* onyx */
  /* background: #1e272c; /* blackpearl*/
  background: #21303e; /* midnight */
  /* background: #1C2833; /* blue charcoal */
}

/* Buttons below navigation bar*/
#page-content-nav{
  z-index: 1;
  top: 55px;
  /* position: fixed; */
  /* background-color: #ffddb3; */
  font-size: 16px;
}

/* Positioning search bar */
.search_bar_position{
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
.search_bar_anim{
  z-index: 2;
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
}

/* Background color for each cloud */
.circle{
  /* fill: rgba(1,1,1,0.05); */
  fill: black;
  fill-opacity: 0.4;
}



/* Sidebar */
#sidebar-wrapper{
  z-index: 2;
  right: 0;
  position: fixed;
  width: 0;
  height: 100%;
  overflow-y: scroll;
}

/* Sidebar displayed */
#wrapper.sidebarDisplayed #sidebar-wrapper{
  width: 250px;
}
#wrapper.sidebarDisplayed #page-content-wrapper{
  padding-right: 0px;
}
#wrapper.sidebarDisplayed #page-content-nav{
  padding-right: 250px;
}


/* Sidebar styling */
.sidebar-nav{
  padding-top: 55px;
  padding-left: 0px;
  list-style: none;
}
.sidebar-nav div h5,p{
  padding-left: 10px;
  line-height: 40px;
}
#sidebarClose{
  position: fixed;
  z-index:2;
  background-color: #DCDCDC;
  width: 250px;
}
#sidebarText{
  padding-top: 35px;
  position: relative;
  background: white;
  opacity: 0.9;
}
#inspect_btn{
  padding-left: 10px;
}


/* Tooltip of cursor */
div.tooltip {
   position: absolute;
   text-align: center;
   width: 100px;
   /*height: 28px;         */
   padding: 2px;
   font: 14px sans-serif;
   background-color: WhiteSmoke;
   border: 0px;
   border-radius: 8px;
   pointer-events: none;
 }

/* Give cursor a pointer when mouse over image */
.picture {
  cursor: pointer;
}